.contactSec {
    padding: 4rem 20rem;
    background-color: var(--primary-color);
}

.contactSecCont {
    gap: 4rem;
}

.map {
    border: solid 0.1px var(--secondary-color);
}

iframe {
    width: 650px;
    height: 550px;
    border-radius: 5px;
    filter: grayscale(100%) invert(92%) contrast(100%);
    padding: 1rem;
}

.msg {
    width: 100%;
}

input,
textarea {
    padding: 1rem;
    border-radius: 5px;
}

label {
    color: var(--primary-text);
    font-weight: 500;
}

form {
    gap: 2rem;
}

.frmgrp {
    gap: 0.5rem;
}

button {
    padding: 1rem;
    border-radius: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.sendButton {
    background-color: var(--secondary-color);
    font-weight: 600;
}