.nav {
    justify-content: space-between;
    padding: 2.5rem 16rem;
    margin: 0rem 4rem;
    /* border-bottom: 1px solid rgba(133, 133, 133, 0.521); */
    color: var(--primary-text)
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 8px;
}

.navItems {
    gap: 6rem;
}

.navItems a {
    color: var(--primary-text);
}