.nav {
    justify-content: space-between;
    padding: 2.5rem 16rem;
    margin: 0rem 4rem;
    /* border-bottom: 1px solid rgba(133, 133, 133, 0.521); */
    color: var(--primary-text)
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 8px;
}

.navItems {
    gap: 6rem;
}

.navItems a {
    color: var(--primary-text);
}

.topSection {
    background-image: url('../assets//hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.hero {
    padding: 6rem 20rem;
    gap: 2rem;
}

.wel {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.hero h3 {
    font-size: 3.2rem;
    color: var(--primary-text);
}

.hero h1 {
    margin-left: -0.5rem;
    font-size: 12rem;
    line-height: 160px;
    color: var(--primary-text);
}

.desc {
    padding-top: 4rem;
    color: var(--secondary-text);
    max-width: 600px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
}

.prodBut {
    gap: 4rem;
}

.prodBut button {
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px var(--primary-text);
    color: var(--primary-text);
    font-weight: 800
}

.iconCont {
    margin-top: 4rem;
    padding: 1rem;
    gap: 10rem;
    justify-content: center;
    opacity: 70%;
}

.iconCont img {
    width: 40px;
}