.topSection {
    background-image: url('../assets//hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.hero {
    padding: 6rem 20rem;
    gap: 0.3rem;
}

.wel {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.hero h3 {
    font-size: 3.2rem;
    color: var(--primary-text);
}

.hero h1 {
    margin-left: -0.5rem;
    font-size: 12rem;
    line-height: 160px;
    color: var(--primary-text);
}

.desc {
    padding-top: 4rem;
    color: var(--secondary-text);
    max-width: 600px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
}