.otherProductsSec {
    padding: 6rem 20rem;
    background-color: var(--primary-color);
}

.otherProductsSec h1 {
    font-size: 2rem;
    color: var(--primary-text);
}

.otherProducts {
    padding-top: 6rem;
    gap: 10rem
}

.otherProductsCont {
    gap: 4rem;
}

.otherProductsCard {
    gap: 6rem;
    padding-right: 2.5rem;
}

.otherProductsCard:hover {
    background-color: var(--secondary-text);
}

.prodImg {
    width: 150px;
}

.prodInfo {
    gap: 1rem;
    color: var(--primary-text);
    justify-content: center;
}

.prodInfo:hover {
    color: var(--primary-color);
}

.prodInfo span {
    font-style: italic;
}

.otherProdDesc {
    width: 600px;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    align-items: center;
    color: var(--primary-text);

}

.otherProdDesc p {
    text-align: justify;
    line-height: 30px;
    color: var(--primary-text);
}