@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&display=swap');

:root {
  --primary-color: #171B19;
  --secondary-color: #CB6100;

  --primary-text: #ffffff93;
  --secondary-text: #acabab;

}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: none;
}


/*GLOBAL*/
.row,
.col,
.center {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.center {
  align-items: center;
}

button,
input,
textarea {
  border: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.dividerV {
  background-color: #acabab;
  width: 1px;
  margin: 0rem 2rem;
}

.dividerH {
  background-color: #acabab;
  height: 1px;
}

/*---------IMPORTS--------*/

@import url('./styles/hero.css');
@import url('./styles//bestSellers.css');
@import url('./styles//otherProducts.css');
@import url('./styles//contact.css');